*{
    box-sizing: border-box;
 }

 h1 {
   font-family: "PT Serif", serif;
 }

 textarea {
    width:80vw;
    border-radius: 15px;
    background-color: lightgray;
    padding: 5px;
 }

 body {
   margin:0;
   margin-left: 10px;
   font-family: "Mulish", Arial, sans-serif;
 }

 #input {
    display: flex;
    justify-content: center;
 }

 button {
      border-radius: 15px;
      border: 1px solid black;
      background-color: #5C33F6;
      color: white;
 }

 a {
   border: 1px solid black;
   text-decoration: none;
   border-radius: 15px;
   padding: 2px;
   background-color: #5C33F6;
   color: white;
 }
 #out {
   background-color: transparent;
   overflow: hidden;
   border: transparent;
 }

 #count {
   display: flex;
   flex-direction: row;
   margin-top: 30px;
 }

 #count p {
   padding: 0;
   margin: 0;
 }

 #count button {
   height: 25px;
   width: 25px;
   background-color: #5C33F6;
   color: white;
 }

#script {
   border: 1px solid #FF5C57;
}

input {
   accent-color: #FF5C57;
   background-color: #1E1E1E;
 }